<?xml version="1.0" encoding="UTF-8"?>
<q:quakeml xmlns="http://quakeml.org/xmlns/bed/1.2" xmlns:q="http://quakeml.org/xmlns/quakeml/1.2">
    <eventParameters publicID="smi:org.gfz-potsdam.de/geofon/EventParameters"> 
        {% for event in events %} 
        <event publicID="{{ event.eventID }}">
            <creationInfo>
                <agencyID>{{ agencyID }}</agencyID>
                <author>{{ author }}</author>
            </creationInfo>

            <magnitude publicID="{{ event.magnitudeID }}">
                <creationInfo>
                    <agencyID>{{ agencyID }}</agencyID>
                    <author>{{ author }}</author>
                </creationInfo>
                <mag>
                    <value>{{ event.magnitude if not event.magnitude is nan else ''}}</value>
                    <uncertainty>{{ event.magnitude_uncertainty if not event.magnitude_uncertainty is nan else '' }}</uncertainty>
                </mag>
                <type>{{ event.magnitude_type }}</type>
                <originID>{{ event.originID }}</originID>
            </magnitude>

            {% for type, magnitude in event.sec_mags.items() %}
            <magnitude publicID="{{ magnitude.magnitude_magnitudeID }}">
                <creationInfo>
                    <agencyID>{{ agencyID }}</agencyID>
                    <author>{{ author }}</author>
                </creationInfo>
                <mag>
                    <value>{{ magnitude.magnitude if not magnitude.magnitude is nan else ''}}</value>
                    <uncertainty>{{ magnitude.magnitude_uncertainty if not magnitude.magnitude_uncertainty is nan else ''}}</uncertainty>
                </mag>
                <type>{{ type }}</type>
                <originID>{{ event.originID }}</originID>
            </magnitude>
            {% endfor %}

            <origin publicID="{{ event.originID }}">
                <time>
                    <value>{{ event.time.strftime('%Y-%m-%dT%H:%M:%S.%fZ') }}</value>
                </time>
                <longitude>
                    <value>{{ event.longitude if not event.longitude is nan else ''}}</value>
                    <uncertainty> {{ event.longitude_uncertainty if not event.longitude_uncertainty is nan else ''}}</uncertainty>
                </longitude>
                <latitude>
                    <value>{{ event.latitude if not event.latitude is nan else ''}}</value>
                    <uncertainty>{{ event.latitude_uncertainty if not event.latitude_uncertainty is nan else '' }}</uncertainty>
                </latitude>
                <evaluationMode>{{ event.evaluationmode }}</evaluationMode>
                <creationInfo>
                    <agencyID>{{ agencyID }}</agencyID>
                    <author>{{ author }}</author>
                </creationInfo>
                <depth>
                    <value>{{ event.depth if not event.depth is nan else ''}}</value>
                    <uncertainty>{{ event.depth_uncertainty if not event.depth_uncertainty is nan else '' }}</uncertainty>
                </depth>
            </origin>

            <preferredOriginID>{{ event.originID }}</preferredOriginID>
            <preferredMagnitudeID>{{ event.magnitudeID }}</preferredMagnitudeID>
            <type>{{ event.event_type }}</type>

        </event> 
        {% endfor %} 
        </eventParameters>
</q:quakeml>